nav{
    display: flex;
    border-bottom: 3px solid #E4E4E4;
    justify-content: end;
   
}

.nav-icons{
  width: 3.75rem;
  height: 3.75rem;
  margin-right: -5px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 1);
  
  
}